/* === CSS GERAL === */
html {
  font-size: clamp(1rem, calc(0.5rem + 0.8vw), 1.625rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* === HEADER === */

header {
    text-align: center;
    padding: 5vw 0 0 0;
}

header nav ul li {
    margin: 3vw;
}

header nav ul li.font-yellow {
    color: #FBBC05;
} 

header nav ul li.btn a {
    background-color: #FBBC05;
    color: white;
    padding: 6px 12px;
    border-radius: 10px;
    display: inline-block;
}

section.banner{
    padding: 5vw 10vw 5vw 10vw;
    background: url(../images/background-banner.png);
    background-size: 100% auto;
    margin: 5vw 0vw 5vw 0vw;
    text-align: center;
}
section.banner div.img-doguinho{
    display: none;
}
section.banner h2{
    font-weight: 700;
    color: #252B42;
    font-size: 1.5rem;
}
section.banner p{
    font-size: 0.7rem;
    margin: 20px 0 0 0;
}
section.banner p a{
    background-color: #252B42;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    gap: 10px;
}
section.banner p.buttons{
    display: flex;
    gap: 20px;
}
section.banner p.buttons img{
    max-width: 20px;
}

section.features div.imagem img {
    display: none;
}

section.features {
    padding: 5vw 10vw;
    text-align: center;
}

section.features h2 {
    font-size: 1.3rem;
    padding: 3vw;
    font-weight: bold;
    color: #252B42;
}

section.features p {
    color: gray;
    font-size: 0.8rem;
    padding: 3vw;
}

section.features ul {
    padding: 10vw;
}

section.features ul li {
    padding: 5vw;
}

section.features ul li h3 {
    font-weight: bold;
    padding:2vw;
    font-size: 1.1rem;
}

section.call {
    background-color: #FBBC05;
    border-radius: 10px;
    margin: 3vw 5vw;
    color: white;
    padding: 5vw;
}

section.call h2 {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 2vw;
}

section.call p {
    font-size: 0.8rem;
    padding: 2vw;
}

@media only screen and (min-width: 600px) {
    header {
        padding: 2vw 5vw 2vw;
    }
    
    header nav {
        display: flex;
        justify-content: space-between;
        
    }

    header nav ul {
        display: flex;
        align-items: center;

    }

    header nav ul li {
        margin: 0%;
        padding: 8px;
    }

        section.banner{
        display: flex;
        align-items: center;
    }
    section.banner div.img-doguinho{
        display: block;
    }

    section.features h2 {
        padding: 2vw;
    }

    section.features p {
        padding:0%;
    }

    section.features div.imagem img {
        display: block;
    }

    section.features > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    section.features ul {
        padding: 6vw;
    }

    section.features ul li {
        padding: 2vw;
    }

    section.features ul li h3 {
        padding: 0%;
    }

    section.features ul li p {
        padding: 0%;
    }

    section.features div.lista ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 40vw;

    }

    section.features div.lista ul li {
        width: 40%;
    }

    section.call {
        padding: 3vw;
    }

    section.call h2 {
        padding: 1vw;
    }

    section.call p {
        padding: 1vw;
        width: 35%;
    }
    
} 